@{
    ViewData["Title"] = "Reminder";
}
@{
    Layout = ViewBag.Layout ?? "_Layout_staff"; // Use the layout set in the controller, or default to "_Layout"
}

<link rel="stylesheet" href="~/css/reminder.css" asp-append-version="true" />
<title>Reminders</title>
<div class="page-wrapper">
    <!-- Header div -->
    <div class="info-bar">
        <div id="file-path">
            <a id="info_link" href="/Home/Index">Home</a> &gt;
            <a>Reminder</a>
        </div>

        <div id="date-time">
            <span id="date">Date: </span>
            <span id="time">Time: </span>
        </div>
    </div>



    <!-- Container for both button and search bar -->
    <div class="action-bar">
        <!-- Create New Reminder button -->
        <button class="create-reminder-button">Create New Reminder</button>

        <!-- Search bar -->
        <div class="search-container">
            <input type="text" placeholder="Search" class="reminder-search-field-input" id="reminder-search-input" onfocus="toggleVisibility()">
        </div>
    </div>

    
    <!-- Search Filter -->
    <div id="reminder-filter" class="reminder-search-filter" style="display: none;">
        <input type="text" placeholder="Title:" class="reminder-filter-title" id="reminder-search-title">


        <input type="text" placeholder="Date:" class="reminder-filter-date" id="reminder-search-date" data-date-format="DD MMM YYYY" onfocus="this.type='date'" onblur="if(!this.value) this.type='text'">


        <select class="reminder-filter-priority" id="reminder-search-priority">
            <option value="priority-none" selected>None</option>
            <option value="priority-high">High</option>
            <option value="priority-medium">Medium</option>
            <option value="priority-low">Low</option>
        </select>


        <select class="reminder-filter-type" id="reminder-search-type">
            <option value="type-none" selected>None</option>
            <option value="type-sponsor">Sponsor</option>
            <option value="type-patient">Patient</option>
        </select>
    </div>

    <!-- Loading display -->
    <div class="loading-container">
        <div class="loading-spinner"></div>
        <p>Loading reminders...</p>
    </div>

    <!-- Reminder list -->
    <div class="reminder-boxes">
    </div>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.0/signalr.min.js"></script>
<script src="~/js/reminder.js" asp-append-version="true"></script>