/* General reset for margin and padding */

/* Header at the top of the page */
.info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 2% 1%;
    font-size: 14px;
    color: #000000;
    font-family: Arial, sans-serif;
    height: 10vh;
}

#file-path {
    font-weight: bold;
}

#date-time {
    display: flex;
    gap: 20px;
}

#info_link {
    color: #FF3535;
}

@media (max-width: 600px) {
    .info-bar {
        height: 15vh;
        padding: 4% 2%;
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    .info-bar {
        height: 8vh;
        padding: 1% 0.5%;
        font-size: 16px;
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 80px;
    padding-right: 80px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Page Title Header */
.page-title {
    color: #000000;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}

/* Line that separates container and additional information */
.separator-line {
    border: 0 !important;
    height: 2px !important;
    background-color: #000000 !important;
    margin: 20px 0 !important;
    padding: 0 !important;
}



/* Add Reminder Content Header */
.add-reminder-content-header {
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}



/* Add Reminder Container  */
.add-reminder-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 10px;
}

.add-reminder-title {
    width: 50%;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 20px;
    background-color: #ffffff;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
}

.add-reminder-date, .add-reminder-time {
    width: 20%;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 20px;
    background-color: #ffffff;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
}

/* hides calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* hides clock icon */
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}



.add-reminder-priority {
    width: 30%;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    background-color: #ffffff;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
}


.add-reminder-description, .add-reminder-email-content {
    width: 100%;
    height: 25vh;
    color: #000000;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 10px;
    padding-left: 10px;
    margin-right: 20px;
    box-sizing: border-box;
}

.add-reminder-info {
    margin-bottom: 1%;
}

/* Save & Upload */
.add-reminder-save-and-upload-container {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    width: 15vw;
}

.add-reminder-save-and-upload {
    margin-top: 10%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #7d1700;
    border: none;
}

/* Reminder created notification */
.notification-bubble {
    position: fixed;
    text-align: center;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    color: #000000;
    width: 50%;
    padding: 10px 20px;
    border: 1px solid #B3B3B3;
    border-radius: 10px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    font-weight: bold;
}

    .notification-bubble.visible {
        opacity: 1;
        visibility: visible;
    }
